*{
  margin: 0;
  padding: 0;
}
li{
  list-style-type:none;
}
body{
  max-width: 750px;
  background-color: #F6F6F6;
}
select{
  appearance:none;  
 -moz-appearance:none;  
 -webkit-appearance:none;
  padding-right: 14px;
}
.button-bgc1{
  border: 0;
  color: #fff;
  background-image: linear-gradient(-90deg, 
		#ff017d 0%, 
		#ff5500 100%), 
	linear-gradient(
		#ef1c20, 
		#ef1c20);
	background-blend-mode: normal, 
		normal;
	border-radius: 0.44rem;
}
.button-bgc2{
  border: 0;
  color: #fff;
  background: linear-gradient(to right, #FF5402 , #FF027B);
}