*{
  margin: 0;
  padding: 0;
}
li{
  list-style-type:none;
}
body{
  background-color: #F6F6F6;
}
select{
  appearance:none;  
 -moz-appearance:none;  
 -webkit-appearance:none;
  padding-right: 14px;
}