.tianjia {
  color: #A4A4A4;
  /* border: 1px solid #000; */
  margin: 11px 11px;
  font-weight: bold;
  /* padding: 11px; */
}

.tianjia span {
  margin-left: 8px;
  font-size: 15px;
  color: #A4A4A4;
}

.main_div {
  background-color: #fff;
  /* height: 50px; */
  margin: 8px 8px;
}

.main_div ul {
  min-height: 50px;
  height: auto;
}

.clearfloat {
  clear: both;
  height: 0;
}
/*需要调整*/
.main_div li {
  position: relative;
  float: left;
  width: 25%;
  /* padding-bottom: 25%;   */
  height: 25%;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid #f44; */
}

.main_div li img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.delete_img{
  position: absolute;
  top: 10px;
  left: 10px;
}
#fbspxx{
  /* width: 100%; */
  margin: 10px 10px;
}
#fbspxx li{
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 55px;
  margin-bottom: 2px;
}
#fbspxx li:last-child{
  margin-top: 15px;
}
#fbspxx li span{
  margin-left: 13px;
  line-height :55px;
  font-size: 16px;
  font-weight:bold;
}

#fbspxx li .left{
  height:100%;
  float: left;
}
#fbspxx li .right{
  overflow:hidden;  /* 触发bfc */
  background: green;
  height: 100%;
  margin-right: 10px;
}

#fbspxx li .right .shuru11{
  width:100%;
  height: 100%;
  border: 0;
  font-size: 100%;
  text-align: right;
  direction: rtl;
}
.fabubutton{
  width: 100%;
  margin-top: 80px;
}
.button-wh{
  width: 336px;
  height: 51px;
  display:block;
  margin: auto;
  outline:0;
}
